## Emit a warning or error if @Accessors is used.
lombok.accessors.flagUsage = ALLOW
## Generate setters that return 'this' instead of 'void' (default: false).
lombok.accessors.chain = true
## Generate getters and setters using only the field name (no get/set prefix) (default: false).
lombok.accessors.fluent = true
## Generate getters, setters and with-ers with the 'final' modifier (default: false).
lombok.accessors.makeFinal = false
## Which capitalization strategy to use when converting field names to accessor names and vice versa (default: basic).
lombok.accessors.capitalization = BASIC